# Airtable Configuration
AIRTABLE_API_KEY=patoye6YTPZiKawn7.b2d595d44d0c8b8444cd93c01cecdd906cab05aa0b4b47f23818af8e9a32d4e1
AIRTABLE_BASE_ID=appccpfHK9zFWYR6g
AIRTABLE_TABLE_NAME=People

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=7311136206:AAHpJliZCcR1slnlyp9Eo8AfDDU5n-e_Hvo
TELEGRAM_CHAT_ID=-1002245300962
